:host {
  position: relative;
  width: 25vw;
  display: block;
  padding: 20px 12px;
  background: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  width: 100%;
  text-align: left;
  justify-self: center;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns:16px 1fr max-content;
  grid-gap: 12px;
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  border-radius: 2px;

  &.active,
  &:hover,
  &:focus {
    background: var(--dark-hover-color);
    color: var(--primary-color);
    path {
      fill: var(--primary-color);
    }
  }
}
.item-icon {
  width: 22px;
  height: 22px;
  color:white;
}

.to-subscribers{
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link{
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar__footer {
  position: absolute;
  margin: auto;
  bottom: 20px;
  background: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns:32px 1fr 16px;
  grid-gap: 12px;
  width: calc(100% - 20px);
  align-items: center;
  .profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .username-text{
    color: var(--primary-color);
    font-weight: 700;
  }
  .settings-btn {
    width: 13px;
    height: 13px;
  }
}



