:host{
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 123px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.avatar{
  width: 123px;
  height: 123px;
  border-radius: 50%;
}
.dropzone-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upload-icon{
  height: 64px;
  width: 64px;
}

.dropzone{
  border-radius: 2px;
  border: 1px solid var(--light-color);
  padding: 16px;

  &.fileover{
    border: 1px dashed var(--primary-color);
  }
}

.avatar-input {
  display: none;

}
