:host{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 20%;
}
.logo-img{
  width: 70%;
  height: 70%;
  margin-left: 15%;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.username-input{
  position: relative;
}
.password-input{
  position: relative;
}
.telegram-icon{
  position: absolute;
  top: 50%;
  right: 12px;
  background: none;
  border: none;
  color: #FFFFFFBF;


}
.password-eye-btn {
  position: absolute;
  top: 50%;
  right: 12px;
  background: none;
  border: none;
  color: #FFFFFFBF;
  cursor: pointer;
}
.active {
  color: var(--primary-color);
}
